
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
assets/Scripts/Utils/CheckScoreESBuild/dist/
assets/Scripts/Utils/CheckScoreESBuild/dist.meta
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
# .vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#///////////////////////////
# Tool
#///////////////////////////
tools/art-config-tool
plugin/